<div class="block">
  <dialog-overview-example style="float: right; margin-top: 10px;"></dialog-overview-example>
  <div class="info-date">
    <h4>Disponibilité</h4>
    <h5>En Formation du :</h5>
    <h4>22/10/2021 au 31/12/2021</h4>
  </div>
    <div class="info">
    <img src="assets/img/2019-12-11.jpg">
    <button class="btn-photo" mat-mini-fab color="white"><mat-icon>add_a_photo</mat-icon></button>
    <ul>
            <li style="font-weight: bold;">Edouard Degeest</li>
            <li>Employé chez Viseo</li>
            <li>Villefranche sur Saône, Avergne-Rhône-Alpes, France</li>
            <li style="font-weight: bold;">edouard.degeest@gmail.com</li>
            <li>+ 33 7 83 90 03 20</li>
          </ul>
    </div>
</div>
<div class="region region-top-bar-right">
    <div class="block">
      <modify-cv></modify-cv><add-cv></add-cv>
      <ul>
        <li style="font-weight: bold;">INFORMATION DU CV</li>
        <br>
        <li style="font-weight: bold;">Dernière expérience :</li>
        <h6>2021 - Stage à VISEO</h6>
        <h6>Développement d'une Application Web de gestion de CV</h6>
        <li style="font-weight: bold;">Formation :</li>
        <h6>2021 - Diplôme de Développeur Full Stack niveau II à IT Akademy</h6>
        <li style="font-weight: bold;">Langues :</li>
        <h6>Français, Anglais</h6>
        <li style="font-weight: bold;">Compétences :</li>
        <h6>Développement fullstack HTML5, CSS3, Angular JS en environnement Spring, méthodes agiles.</h6>
      </ul>
  </div>

  </div>
  <div class="region region-top-bar-right">
    <div class="block-3">
        <mat-card>
            <mat-card-content>
             <h2 class="example-h2"><mat-icon>person</mat-icon> Compléter mon profil :</h2><complete-profile></complete-profile>
              <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
              </section>
            </mat-card-content>
          </mat-card>
  </div>

  </div>
  <div class="region region-top-bar-right">
    <div class="block-3">
      <mat-card>
          <mat-card-content>
           <h2 class="example-h2"><mat-icon>person</mat-icon> Compétences :</h2><hr><br>
           <p>Développement fullstack HTML5, CSS3, Angular JS en environnement Spring, méthodes agiles.</p>
          </mat-card-content>
        </mat-card>
</div>

  </div>
  <div class="region region-top-bar-right">
      <div class="block-3">
        <mat-card>
            <mat-card-content>
             <h2 class="example-h2"><mat-icon>people</mat-icon> Expérience :</h2><br><modify-experience></modify-experience><add-experience></add-experience>
             <h4>Stagiaire projet</h4>
             <p>- VISEO - Stage</p>
             <p>- mars 2021 : 2 mois</p>
             <p>- Lyon, Auvergne-Rhône-Alpes, France</p>
             <hr>
             <h2 class="example-h2"><mat-icon>school</mat-icon> Formation :</h2><modify-formation></modify-formation><add-formation></add-formation>
             <h4>IT Akademy</h4>
             <p>- Baccalauréat, Design de page Web, des ressources numériques / multimémia et d'information</p>
             <p>- 2019 - 2021</p>
            </mat-card-content>
          </mat-card>
  </div>

  </div>
  
  <div class="region region-top-bar-right">
    <div class="block">
      <piechart></piechart>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



