<div class="block">
  <dialog-overview-example style="float: right; margin-top: 10px;"></dialog-overview-example>
  <div class="info-date">
    <h4>Disponibilité</h4>
    <h5>En Formation du :</h5>
    <h4>22/10/2021 au 31/12/2021</h4>
  </div>
    <div class="info">
    <img src="assets/img/2019-12-11.jpg">
    <button class="btn-photo" mat-mini-fab color="white"><mat-icon>add_a_photo</mat-icon></button>
    <ul>
            <li style="font-weight: bold;">Edouard Degeest</li>
            <li>Employé chez Viseo</li>
            <li>Villefranche sur Saône, Avergne-Rhône-Alpes, France</li>
            <li style="font-weight: bold;">edouard.degeest@gmail.com</li>
            <li>+ 33 7 83 90 03 20</li>
          </ul>
    </div>
</div>
<div class="region region-top-bar-right">
    <div class="block">
      <modify-cv></modify-cv><add-cv></add-cv>
      <ul>
        <li style="font-weight: bold;">INFORMATION DU CV</li>
        <br>
        <li style="font-weight: bold;">Dernière expérience :</li>
        <br>
        <li style="font-weight: bold;">Formation :</li>
        <br>
        <li style="font-weight: bold;">Langues :</li>
        <br>
        <li style="font-weight: bold;">Compétences :</li>
      </ul>
  </div>

  </div>
  <div class="region region-top-bar-right">
    <div class="block-3">
        <mat-card>
            <mat-card-content>
             <h2 class="example-h2"><mat-icon>person</mat-icon> Compléter mon profil :</h2><complete-profile></complete-profile>
              <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
              </section>
            </mat-card-content>
          </mat-card>
  </div>

  </div>
  <div class="region region-top-bar-right">
    <div class="block-3">
      <mat-card>
          <mat-card-content>
           <h2 class="example-h2"><mat-icon>person</mat-icon> Compétences :</h2><hr><br> ipsum dolor, sit amet consectetur adipisicing elit. Ex tempore saepe, culpa soluta id ipsum veniam ipsa nulla. A ratione voluptatum placeat, consequatur reiciendis expedita sint odit quaerat dolorem corporis.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium porro dicta in ex quisquam debitis velit id nihil nobis atque quidem voluptas, sunt repudiandae deleniti blanditiis saepe sed possimus recusandae!
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, fuga fugiat, quis cum quidem sequi nostrum porro similique doloremque unde ducimus placeat ut error aliquam nemo facilis cumque alias consequuntur!
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque voluptatibus sapiente, minus perferendis rerum totam dolorem voluptatum ex dicta exercitationem aliquid ipsa, molestias quam magni ab quisquam nihil ducimus modi!
          </mat-card-content>
        </mat-card>
</div>

  </div>
  <div class="region region-top-bar-right">
      <div class="block-3">
        <mat-card>
            <mat-card-content>
             <h2 class="example-h2"><mat-icon>people</mat-icon> Expérience :</h2><br><modify-experience></modify-experience><add-experience></add-experience>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit.t illum omnis! Asperi
             Lorem ipsum dolor sit amet consectetur adipisicing elit. No
             <hr>
             <h2 class="example-h2"><mat-icon>school</mat-icon> Formation :</h2><modify-formation></modify-formation><add-formation></add-formation>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Este
            </mat-card-content>
          </mat-card>
  </div>

  </div>
  
  <div class="region region-top-bar-right">
    <div class="block">
      <piechart></piechart>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



