<div class="body">
    <img src="/assets/img/logo.png">
    <div class="deco">
    <p>EDOUARD DEGEEST</p>
    <button routerLink="/" class="btn-deco" mat-mini-fab color="white"><mat-icon>power_settings_new</mat-icon></button>
    </div>
    <div>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a routerLink="/"><li>Home</li></a>
            <a routerLink="/profil"><li>Profil</li></a>
            <a routerLink="/login"><li>Se connecter</li></a>
            <a routerLink="/register"><li>Rechercher</li></a>
            <a routerLink="/search"><li>Rechercher</li></a>
          </ul>
        </div>
</div>

