@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { background-color: #003a70; font-family: Roboto, "Helvetica Neue", sans-serif; }
html,

/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
